.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(202, 199, 199, 0.555);
    z-index: 1000;
  }
  
  .left-btn {
    font-size: 24px;
    display: flex;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 5%;
  }
  
  .right-btn {
    display: flex;
    position: absolute;
    right: 5%;
    font-size: 24px;
  }
  
  .nav-btn {
    background-color: transparent;
    direction: none;
  }
  
  h2 {
    font-weight: 800;
    font-size: 36px;
    color: rgb(92, 85, 85);
    margin: 0 auto;
  }
  