.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(202, 199, 199, 1);
    z-index: 1000;
  }
  
  .left-btn {
    display: flex;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 10px;
  }
  
  .right-btn {
    display: flex;
    position: absolute;
    right: 20px;
  }
  
  .nav-btn {
    background-color: transparent;
    direction: none;
  }
  
  h2 {
    color: rgba(61, 58, 58, 1);
    margin: 0 auto; /* Centrera elementet horisontellt */
  }
  