.task-ul{
    max-width: 50%;
    background-color: rgba(202, 199, 199, 0.363);
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow:rgba(202, 199, 199, 0.432) 2px 5px 5px;
}
.task-li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 20px;
}


#description{
    max-width: 50%;
}
#time{
    margin-right:30px
}

#headline{
    margin-top: 0px !important;
}